body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
nav{
    background-color: #24353f;
    color: #fff;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1)
}
.main {
    background-color: #24353f;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1)
}

textarea,input
{
    background-color: transparent !important;
    color: #fff !important;
}

textarea::placeholder,input::placeholder
{
    color: rgb(182, 182, 182) !important;
}

textarea:focus,input:focus {
    box-shadow: 0 0 0 0 transparent !important;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.btn:hover{
    color: #fff;
}